#cookie-consent{

  @media screen and (min-width: 768px) {
    bottom: 0;
    right: 0;
  }
}

.hide-modal {
  transition: bottom 1.125s ease-in-out 0.125s, opacity 1s ease-in-out 0.125s;
}

.close {
  & svg {
    @media screen and (min-width: 768px) {
      right: -50px;
    }
  }
}
