# Get your public token from Mapbox dashboard
# Then copy this file, name it as .env.local
MAPBOX_TOKEN='YOUR_MAPBOX_TOKEN'

# Google Tag Manager tracking code
# Not required unless you are actively developing
GOOGLE_TAG_MANAGER_ID=''
GOOGLE_TAG_AUTH=''
GOOGLE_TAG_PREVIEW=''
