@use '$styles/veda-ui-theme-vars.scss' as themeVars;

#logo-container {
  display: flex;
  font-family: themeVars.$veda-uswds-basefont-sans;
  gap: themeVars.$veda-uswds-spacing-105;

  #logo-container-link {
    display: flex;
    align-items: center;
  }

  #nasa-logo-pos {
    opacity: 1;
    transform: translate(0, -100%);
    /* TODO: Fix the svg to not require any styles!
     * - set opacity to 1 in svg and fix translation
     */
  }

  svg {
    height: 2.5rem;
    width: auto;
  }

  #logo-container-beta-tag {
    color: white;
    align-self: center;
    font-size: 0.75rem;
    font-weight: themeVars.$veda-uswds-fontweight-semibold;
    line-height: 1rem;
    padding: 0 themeVars.$veda-uswds-spacing-5;
    border-radius: 2px;
    background-color: themeVars.$veda-uswds-color-secondary;
  }
}
