@use '$styles/veda-ui-theme-vars' as themeVars; 

#logo-container {
  display: flex;
  font-family: themeVars.$veda-uswds-basefont-sans;
  gap: themeVars.$veda-uswds-spacing-105;

  #logo-container-link {
    display: flex;
    align-items: center;
  }
  
  span {
    color: themeVars.$veda-uswds-color-base-darkest !important;
  }

  a {
    #nasa-logo-pos {
      opacity: 1;
      transform: translate(0, -100%);
    }
    svg {
      height: 2.5rem;
      width: auto;
    }
  }

  #logo-container-beta-tag {
    color: white;
    align-self: center;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 0 themeVars.$veda-uswds-spacing-5;
    border-radius: 2px;
    background-color: themeVars.$veda-uswds-color-secondary;
  }


  span:first-of-type {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: extrabold;
  }

  span:last-of-type {
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: regular;
    letter-spacing: -0.025em;
  }
}

.mode-dark {
  span {
    color: themeVars.$veda-uswds-color-base-white !important;
  }
}