// @QUESTION: Move to under uswds dir?
@use 'uswds-core' as * with (
  $utilities-use-important: true,
  $theme-show-notifications: false,
  $theme-font-weight-semibold: '600',
  // To add more custom fonts, see 'Adding fonts to USWDS':
  // https://designsystem.digital.gov/design-tokens/typesetting/font-family/
  $theme-typeface-tokens:
    (
      baseFontFamily: (
        'display-name': var(--base-font-family),
        'cap-height': 364px
      )
    ),
  $theme-type-scale-md: 8,
  $theme-utility-breakpoints: (
    'mobile-lg': false,
    'desktop': false
  ),
  $theme-font-type-serif: baseFontFamily,
  $theme-font-type-sans: 'public-sans'
);

// @NOTE: 'ui' & 'body' (role-based tokens) seems to be the default font-family setting token ($theme-font-role-ui) across components https://designsystem.digital.gov/documentation/settings/#typography-settings,
// for example footer, header, form, button, banner, etc. Could we just ovewrite those to look at public-sans which  is what we want our default?
// $theme-font-role-ui role-based token maps to 'sans' type-based token
// $theme-font-role-body maps to 'sans' type-based token
