@use '$styles/veda-ui-theme-vars.scss' as themeVars;

.default-veda-tags {
  margin-right: themeVars.$veda-uswds-spacing-105;
  color: themeVars.$veda-uswds-color-primary;
  font-weight: themeVars.$veda-uswds-fontweight-regular;
  font-size: themeVars.$veda-uswds-fontsize-3xs;
}

.veda-tag-labels {
  @extend.default-veda-tags;
  background: themeVars.$veda-uswds-color-primary-lightest;
}

.card-type-label {
  @extend.default-veda-tags;
  background: themeVars.$veda-uswds-color-base-white;
  border: 1px solid themeVars.$veda-uswds-color-primary-lightest;
}

.card-type-inner-content {
  color: themeVars.$veda-uswds-color-base-dark;
  gap: themeVars.$veda-uswds-spacing-1;
}
