@use "uswds-core/src/styles/functions/units" as units;


// @TODO: How can I use USWDS mixins ?
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
}

.usa-banner__content {
  padding-top: units.spacing-multiple(1);
  padding-bottom: units.spacing-multiple(1);
}
