@use '$styles/veda-ui-theme-vars.scss' as themeVars;

#mode-light {
  .usa-nav__link {
    span {
      color: themeVars.$veda-uswds-color-base-ink;
      font-weight: themeVars.$veda-uswds-fontweight-regular;
    }
  }
}

.usa-nav__link {
  &[aria-current="page"] {
    span {
      font-weight: themeVars.$veda-uswds-fontweight-bold !important;
    }
  }
}

.usa-nav__primary-item {
  button {
    &[aria-expanded="true"] {
      span {
        font-weight: themeVars.$veda-uswds-fontweight-bold !important;
        color: themeVars.$veda-uswds-color-base-white !important;
      }
    }
  }

  .usa-nav__submenu {
    span {
      color: themeVars.$veda-uswds-color-base-white !important;
    }
  }
}

#mode-dark {
  background-color: themeVars.$veda-uswds-color-primary-darker;
}

.usa-logo {
  max-width: none !important;
}
