@use "uswds-core/src/styles/functions/utilities" as utils;

.react-calendar {
  z-index: 99999;

  * {
    font-family: var(--base-font-family) !important;
  }

  &__navigation {
    margin-bottom: 0 !important;
  }

  &__month-view__weekdays__weekday {
    color: utils.color('gray-90');
  }

  &__tile {

    &--hasActive {
      background-color: utils.color('primary-vivid') !important;
      color: utils.color('base-lightest');
    }

    &--now:not(&--hasActive) {
      background: none !important;
    }
  }

  .usa-icon {
    width: 32px;
    height: 20px;
  }

  &__navigation-button {
    min-width: 32px;
  }

  [class*="--weekend"] {
    color: utils.color('gray-90') !important;
  }

  abbr[title] {
    text-decoration: none;
  }

  &__tippy {
    box-shadow: none !important;
    border: none !important;
    background: transparent !important;

    &[data-placement^='top'] > .tippy-arrow::before {
      border-top-color: transparent !important;
    }

    &[data-placement^='bottom'] > .tippy-arrow::before {
      border-bottom-color: transparent !important;
    }

    &[data-placement^='left'] > .tippy-arrow::before {
      border-left-color: transparent !important;
    }

    &[data-placement^='right'] > .tippy-arrow::before {
      border-right-color: transparent !important;
    }

    .tippy-content {
      padding: 0 !important;
    }
  }
}

