@use '$styles/veda-ui-theme-vars.scss' as themeVars;

.usa-search [data-testid='searchField'] {
  flex: 1;
}

#dataset__search.isVisible {
  animation: 0.3s ease-in-out slidein-left;
  @media (width <= themeVars.$veda-uswds-spacing-tablet) {
    position: fixed;
    padding: 1.5rem;
  }
}
@media (width <= themeVars.$veda-uswds-spacing-tablet) {
  .wrapper {
    position: absolute;
  }
}
