name: Release Every Monday
on:
  workflow_dispatch:
  schedule:
    # At 10AM EST Monday
    - cron: '0 15 * * 1'

# Sets the GITHUB_TOKEN permissions to allow release
permissions:
  contents: write
  id-token: write # Required for OIDC connection with NPM

# This action requires a GitHub app with content write access installed
# to bypass the main branch  protection rule and dispatch the event to a different repo

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM }}
          owner: ${{ github.repository_owner }}
          repositories: |
            veda-ui
            veda-config
            next-veda-ui
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package.json') }}
      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
      - name: Use Node.js ${{ env.NODE }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE }}
          registry-url: https://registry.npmjs.org/
      - name: Install npm 11.5.1+ for trusted publishing
        run: npm install -g npm@^11.5.1

      - run: yarn
      - name: Set Version Variable
        id: set-version
        run: echo "VERSION=$(npm pkg get version)" >> $GITHUB_ENV
      - name: Publish package to NPM
        run: |
          yarn buildlib
          npm publish --dry-run