@use '$styles/veda-ui-theme-vars.scss' as themeVars;

.card-a11y-states {
  &:hover {
    box-shadow: 2px 4px 4px themeVars.$veda-uswds-color-base-lighter;
  }

  &:focus {
    outline: 4px solid themeVars.$veda-uswds-link-focus-color;
    outline-offset: 4px;
  }
}
